<div class="" id="signup">
  <h4>Sign Up</h4>
  <form name="signupForm" class="">
    <div>
      <label class="control-label">Full Name</label>
      <input type="text" name="fullName" ng-model="user.fullName" required ng-minlength="2">
      <span class="success"><i class="icon-ok"></i></span>
      <span class="fail"><i class="icon-remove"></i> We need at least two characters</span>
    </div>
    <div>
      <label class="control-label">Email</label>
      <input type="email" name="email" ng-model="user.email" required>
      <span class="success"><i class="icon-ok"></i></span>
      <span class="fail"><i class="icon-remove"></i> We need a valid email address</span>
    </div>
    <div>
      <label class="control-label">Password</label>
      <input type="password" name="password" ng-model="user.password" required ng-minlength="4">
      <span class="success"><i class="icon-ok"></i></span>
      <span class="fail"><i class="icon-remove"></i> We need at least four characters</span>
      <span class="help-block">Choose something that's 4 characters or more</span>
    </div>
    <div>
    <label class="control-label">Re-Type Password</label>
    <input type="password" name="password-confirmation" ng-model="user.passwordConfirmation" required ng-minlength="4">
    <span class="success"><i class="icon-ok"></i></span>
    <span class="fail"><i class="icon-remove"></i> Looks like your passwords do not match</span>
    </div>
    <div class="controls">
      <button type="submit" class="btn btn-primary" ng-disabled="isSubmitDisabled()">Create profile</button>
      <button type="button" class="btn" ng-click="resetForm()">Cancel</button>
    </div>
  </form>
  <p>Already have an account? Click <a href="#/login">here</a> to log in.</p>
</div>
